.header {
  height: auto;
  width: auto;
  padding: 0 8%;
  background: rgb(255, 255, 255);
  position: relative;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 5cm;
  position: relative;
  right: 1cm;
  top: 0cm;
}
.header .nav-links {
  padding: 28px 0;
}
.header .nav-links li {
  display: inline-block;
  margin: 0 15px;
}
.header .nav-links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 5px 0;
  position: relative;
}
.header .nav-links li a ::after {
  content: "";
  background: #ff3d00;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}
.header .nav-links li a:hover::after {
  width: 100%;
}
footer {
  width: 100%;
  background-color: #222;
  padding: 10px 0px;
  display: flex;
}
footer nav {
  display: flex;
  align-items: left;
  justify-content: space-between;
}
footer .logo {
  width: 5cm;
  position: relative;
  right: 1cm;
  top: 0cm;
}
footer .nav-links {
  padding: 28px 0;
}
footer .nav-links li {
  display: inline-block;
  margin: 0 20px;
}
footer .nav-links li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px 0;
  position: relative;
}
footer .nav-links li a ::after {
  content: "";
  background: #ff3d00;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}
footer .nav-links li a:hover::after {
  width: 100%;
}
.features {
  display: inline;
  align-items: center;
  color: #fff;
}
p {
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 9%;
}
.features {
  text-align: right;
  float: right;
  margin: auto;
  width: 30%;
}
.invest {
  box-sizing: border-box;
  display: block;
  float: right;
  line-height: 28px;
  position: static;
  z-index: auto;
  width: 50%;
  padding-right: 20%;
  margin-bottom: 0.5cm;
  justify-content: left;
  padding-top: 1%;
}
ul {
  list-style: none;
}
.invest h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  color: #333;
  font-weight: 500;
  padding-bottom: 10px;
}
.invest p1 {
  text-align: left;
  line-height: 2em;
  box-sizing: border-box;
  color: #666;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.forest {
  float: left;
  padding-top: 6%;
  padding-left: 15%;
}
.donate {
  background-image: url(forest\ dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
  float: right;
  /*box-sizing: border-box;*/
  position: relative;
  padding-right: 5%;
  margin-right: 20%;
  width: 60%;
  height: 50%;
  text-align: center;
}
.text {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}
.text p {
  font-size: 20px;
  line-height: 1.7em;
  letter-spacing: 1px;
  padding-bottom: 1em;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.text button {
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
  border-radius: 8px;
  letter-spacing: 7px;
  color: green;
  justify-self: center;
  width: 125px;
  height: 30px;
  cursor: pointer;
}
.video {
  display: inline-block;
  vertical-align: middle;
  align-self: right;
  height: 300px;
  margin-left: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
}
